<nav th:fragment="sidemenu_user">
    <ul id="myMenu">
        <li>
            <button type="button" class="collapsible">
                CALCULATE
            </button>
        </li>
        <li>
            <button type="button" class="collapsible">
                ORIGINAL CCY RATE
            </button>
        </li>
        <li>
            <button type="button" class="collapsible">
                MULTI CCY RATE
            </button>
        </li>
        <li>
            <button type="button" class="collapsible">
            </button>
        </li>
        <li>
            <button type="button" class="collapsible">
                HOME
            </button>
        </li>
        <li>
            <button type="button" class="collapsible">
                UPLOAD FILE
            </button>
        </li>
        <li>
            <button type="button" class="collapsible">
                REPORT
            </button>
        </li>
        <li>
            <button type="button" class="collapsible">
                LOGOUT
            </button>
        </li>
    </ul>

</nav>